body {
    background-color: #ddedf5;
    font-size: 2em;
}

.background{
    background-image: url("./images/winner.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.roundNo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.playerScore, 
.compScore {
    background-color: #e2e2e2; 
    border: 2px solid #57a4bc;
    width: 10em;
    border-radius: 0.1em;
}

.finalResult{
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    flex-direction: column;
    margin: 0em 5em 0em 5em;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: auto;
    font-size: 1em;
}

img {
    width: 11vw;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.reset {
    font-size: 2em;
    background-color: #f7bebe;
    border-radius: 0.1em;
}

.transition {
    border: solid black;
    transform: scale(1.1);
}